{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<h3>{{ message }}</h3>

<p>You've made it this far, why not get to know more about what I'm like?</p>

<div class="jumbotron">
    <div class="row body-padding">
        <div class="col-md-4">
            <p>Family is a huge part of who I am. I wouldn't be anything that I am today if it wasn't for the 
            influence of all of my family members. As the 4th of 5 children I appreciate the example that each one 
            in addition to that my parents. They all have provided me with a lot of guidence to get me where I am today.
            In addition to my family, I grew up in far reaches of Maine and that is something that defines a big part 
            of who I am. </p>
        </div>
        <div class="col-md-8">
            <img src="../../static/app/img/family.JPG" width="100%"/>
        </div>
    </div>
    <div class="row body-padding">
        <div class="col-md-4">
            <img src="../../static/app/img/climb.jpg" width="100%"/>
        </div>
        <div class="col-md-8">
            <p>
                I like to live by the motto: "Work hard, play hard", so whenever I'm not busy with school work or a 
                paying job, I try to be doing the things that I love. I really enjoy being outside whenever I can, and 
                being as active as I can be. Rock climbing, canyoneering, backpacking, and just travelling in general 
                are some of my favorite things to do.  The cold doesn't even scare me! During the winter I enjoy 
                snowshoeing and skiing. I try to find any reason I can to get outside, be active, and enjoy what nature 
                has to offer. 

            </p>
            <p>
                Some of my favorite travel experiences have been backpacking through Denali National Park in Alaska, 
                canyoneering through Old Bill Canyon in Red Rocks Nation Conservation, and backcountry skiing through 
                some of the best snow on earth in Utah. Despite all of these trips, there are a lot of times where 
                there is nothing better than sitting at home and watching a movie.
            </p>
        </div>
    </div>
</div>

<img src="../../static/app/img/pano.jpg" width="100%"/>

{% endblock %}
