{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<h3>{{ message }}</h3>


<p>
    I am currently open to any questions regarding website development or job opportunities you may have for me.
    In addition, feel free to email me regarding comments about my website, like edits or other things you would like to see implemented.
    Thank you for visiting and getting to know me more. I hope to hear from you soon!
</p>

<address>
    <strong>Personal Email:</strong>   <a href="mailto:ezrfrost7@gmail.com">ezrafrost7@gmail.com</a><br />
</address>

<h3>Or feel free to explore more at any of my social media accounts, linked below.</h3>

<div class="row">
    <div class="col-md-4">
        <h2>Facebook</h2>
        <p>
            Get to know me on a more social level and see some of the more important parts of my life.
        </p>
        <a href="https://www.facebook.com/ezra.frost">
            <img src="../../static/app/img/facebook.png" width="100"/>
        </a>
    </div>
    <div class="col-md-4">
        <h2>Instagram</h2>
        <p>
            Curious about my latest adventures? Explore my instagram to see some more photos of what I have been up to. 
            I have a fun time taking them, so I hope you enjoy seeing them!
        </p>
        <a href="https://www.instagram.com/zbabylax/">
            <img src="../../static/app/img/instagram.png" width="100"/>
        </a>
    </div>
    <div class="col-md-4">
        <h2>LinkedIn</h2>
        <p>
            My business profile and portfolio. To see a list of my jobs, my resume in further detail, or other business connections that I may have, 
            click on the link below.
        </p>
        <a href="https://www.linkedin.com/in/ezrafrost/">
            <img src="../../static/app/img/linkedin.png" width="100"/>
        </a>
    </div>
</div>

{% endblock %}
