{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-8">
            <h2 class="col-md-8">Welcome</h2>
            <p class="lead col-md-8">
                I hope you enjoy learning more about me through this website. There are quite a few different pages to explore and 
                some cool modules that I have added to this website. Feel free to poke around and contact me with any questions or 
                feedback you may have. You can find my contact info on the
                <a href="{% url 'contact' %}">Contact</a> page.
            </p>
        </div>
        <img src="../../static/app/img/profile.JPG" width="150" class="col-md-4" />
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>API Implementation</h2>
        <p>
            If you're into dad jokes, this is the spot for you! You can find your endless list of dad jokes on this page. Click on 
            the button for a good laugh!
        </p>
        <p><a class="btn btn-default" href="{% url 'jokes' %}">Check it out &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Stocks Analytics</h2>
        <p>
            Because I love collecting and working with data, I have created my own project that incorperates many
            different aspects of data analytics
            data collection. Click on the button learn more about this exciting project!
        </p>
        <p><a class="btn btn-default" href="{% url 'financial' %}">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4" hidden="hidden">
        <h2>Microsoft Azure</h2>
        <p>
            As a student, I have been able to use Microsoft's Azure Studio to create data pipelines and machine learning. If you would like to
            learn more about how I have implemented this service into my website, click here.
        </p>
        <p><a class="btn btn-default" href="{% url 'machine' %}">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
