{% extends "app/layout.html" %}

{% block content %}

{% load static %}

<div class="row jumbotron">
    <div class="jumbotron col-md-4">
        <p>Wanna hear a joke?</p>
    </div>
    <div class="col-md-4">
        <p style="font-size:smaller">On this page I have implemented an API that will generate a new joke every time the user prompts it to.
        This works by basically talking to another computer and asking it for a joke. I then display that joke 
        on the screen. Go ahead! Give it a shot!
        They're pretty funny... or should I say punny.</p>
        <a type="button" href="{% url 'tellJokes' %}" class="btn btn-default">Joke</a>
    </div>
    <div class="jumbotron col-md-4" id="joke">
        <p>
            {{ joke }}
        </p>
    </div>
</div>

{% endblock %}