{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<p>{{ message }}</p>

<div>
    <div>
        <div>
            <h3>Education</h3>
            <h4>Undergraduate: Brigham Young University</h4>
            <p>Currently seeking a Bachelor's degree in Information Systems from BYU's Marriott School of Business.</p>
        </div>
        <div>
            <h3>Experience</h3>
            <div class="row">
                <div class="col-md-6">
                    <div>
                        <h4>Web Designer and Content Manager</h4>
                        <p>Brigham Young University, March 2021 - Current</p>
                        <ul>
                            <li>Created and designed new webapps</li>
                            <li>Updated and managed content on one of BYU's accounting webpages</li>
                            <li>Implemented Search Engine Optimization to push website's exposure</li>
                        </ul>
                    </div>
                    <div>
                        <h4>Landscaping</h4>
                        <p>Intermountain Plantings, May 2020 - Aug 2020</p>
                        <ul>
                            <li>Installed irrigation and supporting systems for commercial landscaping projects</li>
                            <li>Assisted in managing, directing, and organizing a team of 6 workers on a day to day basis</li>
                        </ul>
                    </div>
                    <div>
                        <h4>Campus Security</h4>
                        <p>Brigham Young University, Sep 2018 - Apr 2019</p>
                        <ul>
                            <li>Patrolled campus and assured a secure campus both day and night</li>
                            <li>Provided assistance and guidance to those visiting campus and assured a safe and organized visit</li>
                        </ul>
                    </div>
                    <div>
                        <h4>Lifeguard</h4>
                        <p>Lucerne Beach Club, Jun 2015 - Aug 2015</p>
                        <ul>
                            <li>Supervised the beach area and provided assistance for patrons as needed</li>
                            <li>Certified as an American Red Cross Lifeguard</li>
                        </ul>
                    </div>
                    <div>
                        <h4>Paper Boy and Lawn Maintenance</h4>
                        <p>Self Employed, Jun 2008 - Jun 2015</p>
                        <ul>
                            <li>Transported the local newspaper on a daily basis, providing reliable and consistent service</li>
                            <li>Organized and maintained several lawns during the summer</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <h4>Bus Driver</h4>
                        <p>Student Movement, Sep 2019 - Dec 2020</p>
                        <ul>
                            <li>Operated a bus responsilbe for bring students to a from campus on a consistent and reliable schedule</li>
                            <li>Assisted in the transportation of BYU Atheletes</li>
                        </ul>
                    </div>
                    <div>
                        <h4>Driver Guide</h4>
                        <p>Holland America and Princess Cruise Lines, Apr 2019 - Aug 2019</p>
                        <ul>
                            <li>Provided tours, information, and entertainment for visitors and tourists safely between hotels, 
                            parks, and cities daily</li>
                            <li>Awarded employee of the month for above average customer service, hospitality, and performance</li>
                        </ul>
                    </div>
                    <div>
                        <h4>Volunteer Representitive</h4>
                        <p>The Church of Jesus Christ of Letter-Day Saints, Aug 2016 - Jul 2018</p>
                        <ul>
                            <li>Administered finances of the mission, including online and cash payments to providers, as 
                            well as implementing a budget that directly resulted in hundreds of dollars of savings</li>
                            <li>Trained other volunteers, increasing productivity and surpassing mission expectations</li>
                            <li> Performed community service on a weekly basis including proselyting, construction, 
                            and English classes</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <h3>Skills, Certifications, and Other Acheivements</h3>
            <div class="row">
                <div class="col-md-4">
                    <ul>
                        <li>SQL</li>
                        <li>Python and Django</li>
                        <li>JavaScript</li>
                        <li>C#</li>
                        <li>AWS</li>
                        <li>Microsoft Excel and Word</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul>
                        <li>Spanish Fluency</li>
                        <li>Eagle Scout</li>
                        <li>First Aid/CPR Certified</li>
                        <li>Class B CDL</li>
                        <li>GitHub</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul>
                        <li>BYU Lacrosse Player (2015-2016)</li>
                        <li>CSS and HTML</li>
                        <li>Azure Studio</li>
                        <li>Varsity Lacrosse Program Creator (2011-2015)</li>
                        <li>ASP.net</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}